:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background: #151616;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.navbar {
  background-color: var(--bg);
  border-bottom: var(--border);
  height: var(--nav-size);
  padding: 0 1rem;
}

.navbar-nav {
  height: 100%;
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--nav-size) * 0.8);
}

.icon-button,
.icon-left,
.icon-right {
  --button-size: calc(var(--nav-size) * 0.5);
  height: var(--button-size);
  width: var(--button-size);
  border-radius: 50%;
  background-color: var(--bg-accent);
  margin: 2px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.menu-item .icon-left {
  margin-right: 0.5rem;
}

.icon-button svg,
.menu-item svg {
  width: 20px;
  height: 20px;
  fill: var(--text-color);
}

.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  padding: 0.5rem;
  transition: background var(--speed);
}

.menu-item:hover {
  background-color: #525357;
}

.icon-right {
  margin-left: auto;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit {
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}
